<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"></script>
    <title>Tigre do Oriente</title>
</head>
<body>
    <div id="app">
        <header class="container">

            <div class="navbar" style="width: 100%; height: 60px;background-color: rgb(0, 0, 0, 0.7); position: absolute; left: 0; top: 0; z-index: 5; padding: 0;">
                <a href="index.html"><img src="assets/img/logo.png" alt="" class="logo" style=" position: absolute; width: 70px; height: 60px; left: 5%; top: 2px;"></a>
              <ul class="navbar-list" style=" position: absolute; width: 100%; top: 20px;">
                <li @click="more()" style="left: 13%;">Sobre
                    <div :class="more_" class="painel-1" style="position: absolute; z-index: -3; top: -20px; width: 250px; height: 250px;"><img src="assets/img/painel.png" alt="" style="position: absolute; width: 100%; height: 100%;" >
                        <button class=" painel-btn" style="margin-top: 80px; font-size: 14px;"> Associação de Artes Tigre do Oriente</button>
                        <button class=" painel-btn" style="margin-top: 7px; font-size: 14px;"> Kung-Fu </button>
                </div> 
                </li><div :class="setArrow.morArrow " class="arrow"  style="left: 13%;  bottom: -5px;"></div>
                <li @click="styles()"  style="left: 17%;" >Estilos
                    <div :class="style_" class="painel-2"  style="position: absolute; z-index: -3; top: -20px; width: 250px; height: 190px;"><img src="assets/img/painel.png" alt="" style="position: absolute; width: 100%; height: 100%;">                 
                        <button class=" painel-btn" style="margin-top: 80px; font-size: 14px;"> Shaolin Sul <div class="arrow-right"></div> </button>
                    </div> 
                </li><div :class="setArrow.styArrow " class="arrow"  style="left: 17.5%;  bottom: -5px;"></div>
                <li @click="events()"  style="left: 21%;">Eventos
                    <div :class="event_" class="painel-3" style="position: absolute; z-index: -3; top: -20px; width: 250px; height: 350px;"><img src="assets/img/painel.png" alt="" style="position: absolute; width: 100%; height: 100%;">
                        <button class=" painel-btn" style="margin-top: 80px; font-size: 14px;"> Palestras </button>
                        <button class=" painel-btn" style="margin-top: 7px; font-size: 14px;"> Torneios </button>   
                        <button class=" painel-btn" style="margin-top: 7px; font-size: 14px;"> Exibições </button>
                        <button class=" painel-btn" style="margin-top: 7px; font-size: 14px;"> Cursos Online </button>
                    </div>  
                </li><div :class="setArrow.eveArrow " class="arrow"  style="left: 22%;  bottom: -5px;"></div>
                <li class="master-list" style="margin-left: auto;">Mestre</li>
                <li @click="contacts()" class="contact-list" style="margin-left: 4%;">Contato
                    <div :class="contact_" class="painel-4" style="position: absolute; z-index: -3; right: -30px; top: -20px; width: 250px; height: 350px;"><img src="assets/img/painel.png" alt="" style="position: absolute; width: 100%; height: 100%;">
                    <form action="https://www.facebook.com/groups/1936458629940274/" style="z-index: 15; width: 100%;">
                        <button class=" painel-btn" style="margin-top: 80px; font-size: 14px;"><img style="width: 40px; position: absolute; top: 73px; left: 40px;" src="assets/img/icon-facebook.png" alt="">Facebook</button>
                    </form>
                    <form action="https://www.facebook.com/groups/1936458629940274/" style="z-index: 15; width: 100%;">   
                        <button class=" painel-btn" style="margin-top: 7px; font-size: 14px;"><img style="width: 40.5px; position: absolute; top: 114px; left: 40px;" src="assets/img/icon-insta.png" alt=""> Instagram </button>   
                    </form>
                    <form action="https://www.facebook.com/groups/1936458629940274/" style="z-index: 15; width: 100%;">
                        <button class=" painel-btn" style="margin-top: 7px; font-size: 14px;"><img style="width: 30px; position: absolute; top: 153px; left: 45px;" src="assets/img/icon-whatsapp.png" alt=""> Whatsapp </button>
                    </form>
                    </div> 
                </li><div :class="setArrow.contArrow " class="arrow" id="arrowId" style="margin-left: 1%;margin-right: 2%; bottom: -5px;"></div>
          
             </ul>
           </div>
                     <button class="btn-mobile" @click="mobileSet()">
                         <ul>
                             <li>__________</li>
                             <li>__________</li>
                             <li>__________</li>
                         </ul>
                     </button>
           <div class="mobile" :class="mobilePainel" style="position: absolute; top: 0%; right: 0px; z-index: 5; width: 350px; height: 650px;">
                <img src="assets/img/painel.png" alt="" style="width: 100%; height: 100%;">
                <button class="close"  @click="mobileSetClose()"> X </button>
                <ul class="navbar-list-mobile" style=" position: absolute;">
                    <li @click="more()" class="more-list-mobile">Sobre
                       
                            <button class=" painel-btn-mobile" style="margin-top: 10px;"> Associação de Artes Tigre do Oriente</button>
                            <button class=" painel-btn-mobile" style="margin-top: 7px;"> Kung-Fu </button>
                      
                    </li>
                    <li @click="styles()" class="style-list-mobile" style="margin-top: 15px;" >Estilos
                                
                            <button class=" painel-btn-mobile" style="margin-top: 10px;"> Shaolin Sul <div class="arrow-down-mobile"></div> </button>
                        
                    </li>
                    <li @click="events()" class="event-list-mobile" style="margin-top: 10px;">Eventos
                        
                            <button class=" painel-btn-mobile" style="margin-top: 10px;"> Palestras </button>
                            <button class=" painel-btn-mobile" style="margin-top: 7px;"> Torneios </button>   
                            <button class=" painel-btn-mobile" style="margin-top: 7px;"> Exibições </button>
                            <button class=" painel-btn-mobile" style="margin-top: 7px;"> Cursos Online </button>
                        
                    </li>
                    <li class="master-list-mobile" style="margin-top: 10px;">Mestre</li>
                    <li @click="contacts()" class="contact-list-mobile" style="margin-top: 10px;">Contato
                        <form action="https://www.facebook.com/groups/1936458629940274/">
                            <button class=" painel-btn-mobile" style="margin-top: 10px;"><img style="width: 40px; position: absolute; top: 456px; left: 70px;" src="assets/img/icon-facebook.png" alt="">Facebook</button>
                        </form>
                        <form action="https://www.facebook.com/groups/1936458629940274/">
                            <button class=" painel-btn-mobile" style="margin-top: 7px;"><img style="width: 40.5px; position: absolute; top: 496px; left: 70px;" src="assets/img/icon-insta.png" alt=""> Instagram </button>   
                        </form>
                        <form action="https://www.facebook.com/groups/1936458629940274/">
                            <button class=" painel-btn-mobile" style="margin-top: 7px;"><img style="width: 30px; position: absolute; top: 536px; left: 75px;" src="assets/img/icon-whatsapp.png" alt=""> Whatsapp </button>
                        </form>
                    
              
                 </ul>
           </div>

         <div class="banner" style="width: 100vh; height: 100%;">
         
                  <img src="assets/img/background-img-header.png" alt="" style="width: 100%;height: 500px;position: absolute; left: 0;top: 0px;">
                  <h1 class="title-sul" style="width: 70%; height: 33rem; position: absolute; z-index: 2; top: 110px; color: #DAA520;">Estilo Shaolin Sul</h1>
            <div id="slider">   
               
                      <img id="dragon-banner" :class="showBanner" src="assets/img/fundo_dragao.png" alt="" >
                      <img id="dragon" :class="showTitle" src="assets/img/palavra dragao.png" alt="" style="position: absolute;">
            
                       <img id="tiger-banner" :class="showBanner2" src="assets/img/fundo_tigre.png" alt="">
                       <img id="tiger" :class="showTitle2" src="assets/img/palavra tigre.png" alt="" style="position: absolute;">
             
                       <img id="taichi-banner" :class="showBanner3" src="assets/img/fundo_tai_chi_chuan.png" alt="">
                       <img id="taichi" :class="showTitle3" src="assets/img/palavra tai chi chuan.png" alt="" style="position: absolute;">
               
                       <img id="wing-banner" :class="showBanner4" src="assets/img/fundo_wingchun.png" alt="" >
                       <img id="wing" :class="showTitle4" src="assets/img/palavra wing chun.png" alt="" style="position: absolute;">
                
            </div> 
            
                  <img class="left-bar" src="assets/img/barra.png" style="position: absolute;" alt="">
            
                  <button class="dragon-btn" style="width: 40px; height: 40px; position: absolute; left: 20px; opacity: 0; z-index: 2;" @click="onClick()" ></button><img id="imgButton" class="imgButtonDragon" :class="rotate1" src="assets/img/Taichi.png" alt="" style="position: absolute; left: 20px;">
                  <button class="tiger-btn" style="width: 40px; height: 40px; position: absolute; left: 20px;  opacity: 0; z-index: 2;" @click="onClick2()"></button><img id="imgButton" class="imgButtonTiger" :class="rotate2" src="assets/img/Taichi.png" alt="" style="position: absolute; left: 20px;">
                  <button class="taichi-btn" style="width: 40px; height: 40px; position: absolute; left: 20px; opacity: 0; z-index: 2;"  @click="onClick3()"></button><img id="imgButton" class="imgButtonTaichi" :class="rotate3" src="assets/img/Taichi.png" alt="" style="position: absolute; left: 20px; ">
                  <button class="wing-btn" style="width: 40px; height: 40px; position: absolute; left: 20px;  opacity: 0; z-index: 2;" @click="onClick4()"></button><img id="imgButton" class="imgButtonWing" :class="rotate4" src="assets/img/Taichi.png" alt="" style="position: absolute; left: 20px;">
            
          </div>
        </header>
        <section class="container">
            
            <div class="instructors-section" style="margin-top: 36rem; align-items: center;">
                <img style="position: relative; width: 100%; z-index: -1; top: 10px;" src="assets/img/barra_horizontal.png" alt="">
                <h3 style="margin-left: 50px; font-family: dream;">{{subTitle}}</h3>
               
                <hr style="border-color: black;">

                <img class="blush" src="assets/img/manchas2.png" alt=""  style="position: absolute; right: 90px;">
            <div v-for="instructor in instructors">
                <h4 style="font-family: poetsen;">{{instructor.name1}}</h4>
            </div>
              <div style="display: flex;">
                <img class="photo-instructor" src="assets/img/luiz.png" alt="" width="250px">
                <p class="textbory" v-for="textInstructor in textInstructors">
                    {{textInstructor.text1}}</p>
              </div>
             
              <hr style="border-color: black;">
           
              <img class="blush" src="assets/img/manchas.png" alt="" style="position: absolute; left: 40px;">
            <img class="blush" src="assets/img/manchas3.png" alt="" style="position: absolute; right: 0px;">
            <div v-for="instructor in instructors">
                <h4 style="font-family: poetsen; margin-left: 80%;">{{instructor.name2}}</h4>
            </div>
            <div style="display: flex;">
                <p class="textbory" v-for="textInstructor in textInstructors">
                    {{textInstructor.text2}}</p>
                <img class="photo-instructor" src="assets/img/bruno.png" alt="" width= "250px" >
                
              </div>
            
              <hr style="border-color: black;">
          
              <div v-for="instructor in instructors">
                <h4 style="font-family: poetsen;">{{instructor.name3}}</h4>
            </div>
              <div style="display: flex;">
                <img class="photo-instructor" src="assets/img/sonia.png" alt="" width="250px">
                <p class="textbory" v-for="textInstructor in textInstructors">
                   {{textInstructor.text3}}</p>
              </div>
            
              <hr style="border-color: black;">
           
              <img class="blush" src="assets/img/manchas4.png" alt="" style="position: absolute; left: 50px;">
            <div v-for="instructor in instructors">
                <h4 style="font-family: poetsen; margin-left: 80%;">{{instructor.name4}}</h4>
            </div>
            <div style="display: flex;">
                <p class="textbory" v-for="textInstructor in textInstructors">
                  {{textInstructor.text4}}</p>
                <img class="photo-instructor" src="assets/img/fred.png" alt="" width= "250px" >
                
              </div>
             
              <hr style="border-color: black;">
         
            </div>
             <div class="container" style=" position: relative; align-items: center; text-align: center; width: 100%; height: 500px;">
                <img style="margin-bottom: 30px;" src="assets/img/font_rend.png" alt="">
                 <h4 style="font-size: 30px; font-family: poetsen; margin-bottom: 20px;">{{filosophys}}</h4>
                 <p style="font-family: dream; font-size: 20px;">{{textFilo}}</p>
                 <br>
                <img style="position: relative; width: 80%; height: 30%; top: -20px;" src="assets/img/barra_horizontal.png" alt="">
                </div>
           <div style="text-align: center; height: 500px; width: 100%; display: inline ; align-items: center;"  >
               <h3 style="font-family: dream;">{{galery}}</h3>
           <hr style="border-color: black;">
            <img class="blush" src="assets/img/manchas2.png" alt="" style="position: absolute; right: 15px;z-index: -1;">
            <img class="blush" src="assets/img/manchas3.png" alt="" style="position: absolute; left: 1px;z-index: -1;">  
               <img style="width: 300px; margin: 30px 30px 0 0; box-shadow: 5px 5px 10px;" src="https://scontent.frao2-1.fna.fbcdn.net/v/t1.0-9/120926377_3463497913766700_649075352906279303_n.jpg?_nc_cat=101&_nc_sid=e3f864&_nc_ohc=e5HQ_lYkg1IAX_xY7_x&_nc_ht=scontent.frao2-1.fna&oh=292cd5117f69c6c94274b7e997012fcb&oe=5FB59244" alt="">
               <img style="width: 360px; margin: 30px 30px 0 0; box-shadow: 5px 5px 10px;" src="https://scontent.frao2-1.fna.fbcdn.net/v/t1.0-9/51547986_2159875110795660_1831000856716115968_o.jpg?_nc_cat=102&_nc_sid=730e14&_nc_ohc=xW4nvqrV3KMAX_hZCXv&_nc_ht=scontent.frao2-1.fna&oh=a8674ce807a2e9930c35eefd569d6fbd&oe=5FB32900" alt="">
               <img style="width: 350px; height: 270px; margin: 30px 30px 0 0; box-shadow: 5px 5px 10px;" src="https://scontent.frao2-1.fna.fbcdn.net/v/t31.0-8/25394645_1624974000952443_7434263568137183791_o.jpg?_nc_cat=101&_nc_sid=19026a&_nc_ohc=ePMeX53irnkAX-zg0_2&_nc_ht=scontent.frao2-1.fna&oh=a759848ed7cad9a6067e4e79d1ba6402&oe=5FB57EFB" alt="">      
              
            </div>
            <button style="align-self: center;" id="btn-galery" type="button" class="btn btn-dark m-3">Veja mais</button>
            <hr style="border-color: black;">
            
            
         <div style="position: relative; text-align: center;">
             <h1 class="m-5 text-warning">{{warning}}</h1>
             <img style="position: absolute; width: 70%; height: 150px; left: 12%; bottom: -180%; z-index: -1;" src="assets/img/pincel.png" alt="">
         </div>

        </section>
<footer id="footer" class="container">
    <div class="social-style">
    <form action="https://www.facebook.com/groups/1936458629940274/">
        <button style="background-color: rgb(0, 0, 0, 0); border: none; border-radius: 50%;"><img width="70px" style="cursor: pointer;" src="assets/img/icon-facebook.png" alt=""></button>
    </form>
    <form action="https://www.facebook.com/groups/1936458629940274/">
        <button style="background-color: rgb(0, 0, 0, 0); border: none; border-radius: 50%;"><img width="70px" style="cursor: pointer;" src="assets/img/icon-insta.png" alt=""></button>
    </form>
    <form action="https://www.facebook.com/groups/1936458629940274/">
        <button style="background-color: rgb(0, 0, 0, 0);margin-left: 10px; margin-top: 10px; border: none; border-radius: 50%;"><img width="55px" style="cursor: pointer;" src="assets/img/icon-whatsapp.png" alt=""></button>
    </form>
    </div>
    <div class="base">
    <a href="" style="margin-top: 20px; margin-bottom: 90px;"><img class="logo-footer" src="assets/img/logo rodape.png" alt=""></a>
   <div  style="display:flex; ">
    <ul style="display: flex; flex-direction: column; align-items: flex-start;">
        <h3 style="text-shadow: 2px 2px 1.7px #000000; font-family: dream; color: #DAA520;">Sobre</h3>
        <p>___________________</p>
        <li class="list-footer" >Associação de Artes Tigre do Oriente</li>
        <li class="list-footer">Kung-Fu</li> 
    </ul>
    <ul style="display: flex; flex-direction: column; align-items: flex-start; margin-left: 70px;">
        <h3 style="text-shadow: 2px 2px 1.7px #000000; font-family: dream; color: #DAA520;">Eventos</h3>
        <p>___________________</p>
        <li class="list-footer">Palestras</li>
        <li class="list-footer" >Torneios</li>
        <li class="list-footer" >Exibições</li> 
        <li class="list-footer" >Cursos Online</li> 
    </ul>
    </ul>
</div>
    <h4 style="font-family: dream; font-style: inherit;">{{adressTitle}}</h4>
    <p style="font-family: dream; font-style: inherit;">{{adress}}</p>
    <p style="font-style: inherit;">&copy; Associação de Artes Tigre do Oriente. Todos os direitos reservados - Desenvolvido por Vitor Gonçalves Rodrigues - Todas as marcas registradas mencionadas são de propriedade de seus respectivos donos.</p>

 <img class="img-footer" src="assets/img/background-img-footer.png" alt="">

</div>


</footer>
    </div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
<script src="script.vue"></script>
</body>
</html>