*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: dream;
    src:  local(dream\ orphans), url(assets/font/dream_orphans/dream\ orphans.ttf);
}
@font-face {
    font-family: poetsen;
    src:  local(dream\ orphans), url(assets/font/poetsen_one/PoetsenOne-Regular.ttf);
}
@font-face {
    font-family: imperial;
    src:  local(dream\ orphans), url(assets/font/ming_imperial/Ming\ Imperial.TTF);
}
button{
    cursor: pointer;
}

@media only screen and (max-width: 800px) and (min-width: 549.5px){
.navbar-list{
   display: none;
}
.painel-1, .painel-2, .painel-3, .painel-4{
    display: none;
}

#slider #dragon, #slider #tiger, #slider #wing{
    width: 350px;
    height: 250px; 
    left: 60px;
    top: 250px;
}
#slider #taichi{
    width: 350px;
    height: 250px; 
    left: 90px;
    top: 250px;
}
#slider #dragon-banner, #slider #tiger-banner, #slider #taichi-banner, #slider #wing-banner{
    width: 90%; 
    height: 55%; 
    position: absolute; 
    right: 5px;
    top: 150px;
}
.left-bar{
    top: 90px; 
    left: 0px; 
    height: 400px; 
    width: 200px;
}
.title-sul{
    left: 130px;
}
.dragon-btn, .imgButtonDragon{
    top: 150px;
} 
.tiger-btn, .imgButtonTiger{
    top: 220px;
} 
.taichi-btn, .imgButtonTaichi{
    top: 290px;
} 
.wing-btn, .imgButtonWing{
    top: 360px;
}
@keyframes onActiveTitle{
   0%{
    transform: translateX(50px)
    }
   100%{
    transform: translateX(0px)
   }
}
.navbar-list-mobile{
    left: 25px;
    width: 100%; 
    top: 20px;
}

}
@media only screen and (max-width: 549px) and (min-width: 400px), only screen and (max-width: 399px) and (min-width: 340px), only screen and (max-width: 240px){
.navbar-list{
   display: none;
}

.painel-1, .painel-2, .painel-3, .painel-4{
    display: none;
}

#slider #dragon, #slider #tiger, #slider #taichi, #slider #wing{
    width: 270px;
    height: 220px; 
    left: 70px;
    top: 25%;
} 
.title-sul{
    font-size: 30px;
    left: 90px;
}
#slider #dragon-banner, #slider #tiger-banner, #slider #taichi-banner, #slider #wing-banner{
    width: 90%; 
    height: 55%; 
    position: absolute; 
    right: 5px;
    top: 150px;
}
.left-bar{
    top: 130px; 
    left: 0px; 
    height: 400px; 
    width: 200px;
}
.dragon-btn, .imgButtonDragon{
    top: 150px;
} 
.tiger-btn, .imgButtonTiger{
    top: 220px;
} 
.taichi-btn, .imgButtonTaichi{
    top: 290px;
} 
.wing-btn, .imgButtonWing{
    top: 360px;
}
@keyframes onActiveTitle{
   0%{
    transform: translateX(10px)
    }
   100%{
    transform: translateX(0px)
   }
}
.navbar-list-mobile{
    left: 25px;
    width: 100%; 
    top: 20px;
}


}
@media (max-width: 1250px){
.master-list, .contact-list, #arrowId{
 margin-left: auto;
}
}
@media (min-width: 800px){
.navbar-list{
    display: flex;
}
.painel-1, .painel-2, .painel-3, .painel-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 1s;
}
.btn-mobile{
      visibility: hidden;
      opacity: 0;
  }
  .mobile{
     display: none;
  }

  #slider #dragon, #slider #tiger, #slider #wing{
    width: 550px;
    height: 450px; 
    left: 40px;
    top: 150px;
}
#slider #taichi{
    width: 550px;
    height: 450px; 
    left: 80px;
    top: 150px;
}
#slider #dragon-banner, #slider #tiger-banner, #slider #taichi-banner, #slider #wing-banner{
    width: 70%; 
    height: 75%; 
    position: absolute; 
    right: 100px;
    top: 150px;
}
.title-sul{
    left: 130px;
}
.left-bar{
    top: 150px; 
    left: 0px; 
    height: 550px; 
    width: 250px;
}
.dragon-btn, .imgButtonDragon{
    top: 250px;
} 
.tiger-btn, .imgButtonTiger{
    top: 320px;
} 
.taichi-btn, .imgButtonTaichi{
    top: 390px;
} 
.wing-btn, .imgButtonWing{
    top: 460px;
}
@keyframes onActiveTitle{
   0%{
    transform: translateX(50px)
    }
   100%{
    transform: translateX(0px)
   }
}
}

.active{
    animation: onActive 2s;
    visibility: visible;
    opacity: 1;
}
.activeTitle{
    animation: onActiveTitle 2s;
    visibility: visible;
    opacity: 1;
}
@keyframes onActive{
   0%{
    visibility: hidden;
    opacity: 0;
    }
   100%{
        visibility: visible;
        opacity: 1;
   }
}

.inactive{
   animation: onInactive 2s;
   visibility: hidden;
   opacity: 0;
}
.inactiveTitle{
    animation: onInactiveTitle 1s;
    visibility: hidden;
    opacity: 0;
}
@keyframes onInactive{
    0%{
    visibility: visible;
    opacity: 1;
    }
   100%{
        visibility: hidden;
        opacity: 0;
   }
}
@keyframes onInactiveTitle{
    0%{
    transform: translateX(0px);
    visibility: visible;
    opacity: 1;
    }
   100%{
    transform: translateX(-100px);
    visibility: hidden;
    opacity: 0;
   }
      
}
.activeButton{
    width: 55px; 
    height: 55px;
    transform: rotate(180deg)
}
.inactiveButton{
    width: 40px; 
    height: 40px;
    transform: rotate(0deg)
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar a{
    font-family: dream;
    font-size: 17px;
}

a{
    text-decoration: none;
    text-transform: uppercase;
    color: #DAA520;
    z-index: 10;
}
.navbar a:hover{
    color: #ffffff;
}


.navbar li{
    position: relative;
    width: 50px;
    height: 10px;
    list-style: none;
    text-transform: uppercase;
    color: #DAA520;
    cursor: pointer;
    font-family: dream;
    font-size: 17px;
}
.navbar li:hover{
    color: #ffffff;
}
.navbar-list-mobile{
    position: relative;
    width: 150px;
    list-style: none;
    text-transform: uppercase;
    color: #DAA520;
    cursor: pointer;
    font-family: dream;
    font-size: 19px;
}
.painelOn{
    animation: wichPainel .1s;
    visibility: visible;
    opacity: 1;
}
@keyframes wichPainel{
    0%{
    transform: translateY(-200px);
    visibility: hidden;
    opacity: 0;
    }
   100%{
        transform: translateY(0px);
        visibility: visible;
        opacity: 1;
   }
}
.painelOff{
    animation: noPainel .1s;
    visibility: hidden;
    opacity: 0;
}
@keyframes noPainel{
    0%{
    transform: translateY(0px);
    visibility: visible;
    opacity: 1;
    }
   100%{
        transform: translateY(-200px);
        visibility: hidden;
        opacity: 0;
   }
}
.arrow{
    position: relative;
    border-top: 7px solid #DAA520; 
    border-left: 7px solid transparent;  
    border-right: 7px solid transparent;
    margin-right: 0px;
    margin-left: 0px;
    z-index: 5;
    float: left;
}
.moveArrow{
    transform: rotate(180deg)
}
.returnArrow{
    transform: rotate(0deg)
}
.arrow-right{
    position: absolute;
    top: 90px;
    right: 15px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid #DAA520;
    z-index: 5;
}
.arrow-down-mobile{
    position: absolute;
    top: 167px;
    right: -65px;
    border-top: 7px solid #DAA520; 
    border-left: 7px solid transparent;  
    border-right: 7px solid transparent;
    z-index: 5;
}

.painel-btn{
    font-family: dream;
    font-size: 17px;
    color: #DAA520;
    z-index: 4;
    width: 100%;
    height: 30px;
    background-color: rgb(0, 0, 0, 0.3);
    border: none;
    border-bottom: 0.1px solid rgba(218, 165, 32, .3);
}
.painel-btn:hover{
    background-color: rgba(255, 255, 255, .3);
}
.painel-btn-mobile{
    font-family: dream;
    font-size: 17px;
    color: #DAA520;
    z-index: 4;
    width: 300px;
    height: 30px;
    background-color: rgb(0, 0, 0, 0.3);
    border: none;
    border-bottom: 0.1px solid rgba(218, 165, 32, .3);
}
.painel-btn-mobile:hover{
    background-color: rgba(255, 255, 255, .3);
}
  .btn-mobile{
      position: absolute;
      top: 7px;
      right: 10px;
      width: 50px;
      height: 50px;
      z-index: 5;
      background-color: rgb(0, 0, 0, 0.2);
      border: none;
      border-radius: 10px;
  }
  .btn-mobile li{
    color: #ffffff;
    list-style: none;
    font-size: 9px;
  }
  .close{
      position: absolute;
      top: 10px;
      right: 10px;
      width: 40px;
      height: 40px;
      color: #ffffff;
      font-size: 30px;
      background-color: rgba(0, 0, 0, .8);
      z-index: 5;
  }
  .close:hover{
      color: #DAA520;
  }
  /* .mobile{
      
  } */

#imgButton{
    transition: all 1s;
}

h1{
    font-family: poetsen;
    text-shadow: 2px 4px 2px rgba(0, 0, 0, .8);
}
/*----Galeria-------*/
#btn-galery{
    color: #DAA520;
    font-family: dream;
}

